@use "header";
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.nav-pills .nav-link.active {
  background-color: #ea05ff9d;
  color: #fff;
}
.nav-link {
  color: #000;
  background-color: transparent;
  &:hover {
    color: #ea05ff9d;
  }
}
.book-img {
  max-width: 125px;
}
.bi-hearts {
  color: red;
}
.bi-stars {
  color: rgb(255, 255, 16);
}
